body {
  font-family: sans-serif;
}

#app {
  width: 1000px;
  height: auto;
  margin: auto;
}

#menu {
  float: right;
}

#logo {
  float: left 
}
#menu a {
  text-decoration: none;
  color: #670001;
}
